*~
*.[0-9]
*.[0-9][0-9]
.DS_Store
junks
ooo*
foo*
node_modules
lib
*.ul
*.g4.x[0-9]
*.g4.x[0-9][0-9]
tt[0-9].cpp
tt[0-9][0-9].cpp
a.out
a.out.*
*.bak
.#*
*.log
_*.css
_*.css.map
build/*
src/tmp/*
*.tgz
*.orig
dist/0.bitmark.bundle.es6.js
dist/1.bitmark.bundle.es6.js
src/typescript-es6/bitmarkLexer.js-e
